body {
    margin: 0;
    padding: 0;
    background-image: url('images/space.png');
}

.ship {
    position: absolute;
    top: 300px;
    width: 100px;
    height: 50px;
    background-image: url('images/ship.png');
    background-size: contain;
    z-index: 2;
}

.bullet1 {
    width: 10px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 19px;
    right: 8px;
}

#earth {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
}

#btn {
    font-size: 40px;
    font-family: 'Aldrich';
    background-color: #4D00B2;
    cursor: pointer;
    border: 4px solid #CC0033;
    color: white;
    border-radius: 15px;
    padding: 17px 20px;
    margin-top: 20%;
    margin-left: 45%;
}

#a {
    position: absolute;
    border-radius: 50%;
    margin-top: 10%;
    right: 0%;
    z-index: -5;
}